<h1>Results for <%= params[:search]	%></h1>

<!-- good luck front end person -->
<% @results.each do |r|	%>

<div class ="row">
	<div class="col-md-3">
		<%= link_to card_path(cn: r[0]) do %>
		<img id="cardImg" src= "<%=r[1]%>">
		<% end %>
	</div>
	<div class="col-md-4">
		<h4><%= r[0]	%></h4>
		<div class="row">
			<div class="col-md-12">
				<p><%= r[2]	%></p>
			</div>	
		</div>
	</div>

</div>
	<% end -%>

	<!-- TODO: link to generic "card" page -->