<%= simple_form_for(@user_listing) do |f| %>
<%= f.error_notification %>
<div class="row">
  <div class="cardimage media col-md-3"></div>
  <div class="carddesc col-md-3"></div>
</div>
<div class="form-inputs">
  <div class="row">
    <div class="col-md-3">
      <%= f.input :card_name%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :quantity %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :condition, collection: ['Near Mint','Slightly Played','Moderately Played','Heavily Played','Damaged','Near Mint Foil','Slightly Played Foil','Moderately Played Foil','Heavily Played Foil','Damaged Foil'] %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.input :price %>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>



<script type="text/javascript">
$(document).ready(function(){
  $('.combobox1').combobox();
});
</script>



<script>
var typingTimer;                //timer identifier
var doneTypingInterval = 400;
$("#user_listing_card_name").on('keyup', function () {
  clearTimeout(typingTimer);
  typingTimer = setTimeout(doneTyping, doneTypingInterval);
});

$("#user_listing_card_name").on('keydown', function () {
  
  clearTimeout(typingTimer);
});

function doneTyping () {

  var s = $("#user_listing_card_name").val()
  , e = s.toString().length;

  e > 2 ? $.ajax({
    method: "GET",
    url: "/cardcheck/",
    data: {cn:s},
    dataType: "json",
    success: function(s) {
      s != null ? (
        console.log(s),
        $('.cardimage #cardImg').remove(),
        $('.carddesc #cardDesc').remove(),
        $("<img id=\"cardImg\""+ "src=\"" + s[0][1] + "\"/>").appendTo( $( ".cardimage" ) ),
        $("<p id=\"cardDesc\""+ ">\"" + s[0][2] + "\"</p>").appendTo( $( ".carddesc" ) )
        )
      : console.log("cant find it yo")
    }
  }) : null
}


</script>