<p id="notice"><%= notice %></p>
<% @cardd = MTG::Card.where(name: @user_listing.card_name).all.map{|f| [f.name, f.image_url, f.text]}%>

<div class ="row">
	<div class="col-md-3">
		<img id="cardImg" src= "<%=@cardd[0][1]%>">
	</div>
	<div class="col-md-4">
		<h4><%= @cardd[0][0]	%></h4>
		<div class="row">
			<div class="col-md-12">
				<p><%= @cardd[0][2]	%></p>
			</div>	
		</div>
	</div>

</div>


<%= @user_listing.user.name %>
<%= @user_listing.user.location %>

<p>
  <strong>Card name:</strong>
  <%= @user_listing.card_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @user_listing.quantity %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @user_listing.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @user_listing.price %>
</p>

<%= link_to 'Edit', edit_user_listing_path(@user_listing) %> |
<%= link_to 'Back', user_listings_path %>
